:root {
    --dark-bg: #1f2937;
    --hero-main-txt: #f9faf8;
    --hero-sec-txt: #E5E7EB;
    --hero-logo-txt: #F9FAF8;
    --button: #3882F6;
    --info-header-txt: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-txt: #1F2937;
}